:root{
	--mainColor:#000000;
	--secondaryColor:#0d1012;

	--borderColor:#090a0b;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(17, 25, 33, 0.8);
	--previewShadow:#111921;


	--buttonColor:#ffffff;


}